doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    
    script(src="https://www.gstatic.com/firebasejs/3.1.0/firebase.js")
    script(async, defer, src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDo51YnIRa6Ppt4WaznJ43CBBWRCV5uzRQ&libraries=visualization&callback=initMap")
    script(src="/javascripts/map.js")    
    
  body
    block content
