body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 100%;
  height: 100%;
}

#container {
  display: flex;
  height: 500px;
}

a {
  color: #00B7FF;
}

#map {
  height: 100%;
  width: 100%;
}